@let b = block();
@switch (b.kind) {
  @case ('sub') {
    <span class="pm-bloc-sub">{{ b.text }}</span>
  }
  @case ('text') {
    <span class="pm-bloc-text">{{ b.text }}</span>
  }
  @case ('code') {
    <pre class="pm-bloc-code">{{ b.text }}</pre>
  }
  @case ('table') {
    <div class="pm-bloc-table-wrap">
      <table class="pm-bloc-table">
        <thead>
          <tr>
            @for (h of b.head; track $index) {
              <th>{{ h }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (row of tableRows(); track $index) {
            <tr [class.pm-zebra]="row.zebra">
              @for (cell of row.cells; track $index) {
                <td>
                  @if (cell.isBadges) {
                    <span class="pm-bloc-badges">
                      @for (bd of cell.badges; track bd.code + bd.hint) {
                        <span class="pm-bloc-badge" [style.background]="bd.bg" [style.color]="bd.fg">
                          {{ bd.code }}
                          @if (bd.hint) {
                            <span class="pm-bloc-badge-hint">{{ bd.hint }}</span>
                          }
                        </span>
                      }
                    </span>
                  } @else {
                    {{ cell.text }}
                  }
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
}
